.item img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.item {
    color: #003d03;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}