.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems, .messages{
    padding: 10px;
}

.dialogsItems a{
    color: white;
    text-decoration: none;
}

/* .dialogsItems .active {
    color: green;
} */
